@import 'variables';
@import 'utilities';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(89, 60, 60);
    color: white;
}

a {
    color: unset;
    text-decoration: unset;

    &:hover {
        color: grey;
    }
}
